body{
    margin: 0;
    font-size: 16px;
}
#banner{
    background-color: rgb(155, 245, 185);
    display: flex;
    justify-content: space-between;

}
#banner > ul{
   color: rgb(187, 105, 72);
   list-style: none;
   display: flex;
   
}
#banner > ul > li{
    height: 100%;
    min-width: 200px;
    text-align: center;
    border-left: 1px solid black;
}
#banner-logo{
    margin: 5px 5px 0 5px;
    max-width: 50px;
    border-radius: 50%;
    background-color: white;
}