body{
    margin: 0;
    font-size: 16px;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }  
#banner{
    background-color: rgb(155, 245, 185);
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;

}
#banner > ul{
   color: rgb(136, 69, 43);
   list-style: none;
   display: flex;
   
}
#banner > ul > li{
    height: 100%;
    min-width: 200px;
    text-align: center;
    border-left: 1px solid black;
}
#banner-logo{
    margin: 0 5px 0 5px;
    padding-top: 10px; 
    max-width: 50px;
    text-decoration-line: none;
    color: black;
}
.background-img{
    width: 100%;
    position: absolute;
    z-index: -1;
    margin-top: 50px;
}
#opening{
    color: white;
    margin-top: 0;
    text-align: center;
    padding: 5% 0 30% 0;
}
#opening > h1{
    font-size: 4.5em;
    margin-bottom: 0;
}
.recipe{
    display:flex;
    flex-flow: row;
    width: 80%;
    margin: 20px auto;
    padding: 50px 0;
}
.recipe-header{
    text-align: center;
    padding-top: 10%;
    margin-top: 0;
}
.recipe-full-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5%;
    margin: 0 auto;
    width: 60%;

}

@media screen and (width <= 768px){
    #opening > h1{
        margin-top: 15%;
        font-size: 2em;
    }
    #opening > p{
        display:none;
    }
    .recipe{
        flex-wrap: wrap;
        justify-content: center;
        width: 60%;
    }
}
.recipe-img{
    min-width: 200px;
    max-width: 400px; 
    border-radius: 20%;
}
.recipe-description{
    padding: 15px
}
footer{
    background-color: rgb(155, 245, 185);
    height: 150px;
    margin-bottom: 0;
}
#footer-text{
    padding-top: 60px;
    text-align: center;
    color:rgb(136, 69, 43);
}